/*==================== ABOUT ====================*/
.about__img{
    /* width: 284px; */
    border-radius: 2rem;
    justify-self: center;
    align-self: center;
    background-color: var(--first-color);
    box-shadow: rgb(0 0 0 / 24%) 0px 6px 12px;
  
  }
  .about__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
  }
  
  .about__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
  }
  
  .about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  
  .about__info-name {
    font-size: var(--smaller-font-size);
  }
  
  .about__info-name,
  .about__info-title {
    display: block;
    text-align: center;
  }
  
  .about__buttons {
    display: flex;
    justify-content: center;
  }